div(class = 'col-md-4')
    h3 #{articles[0]['title']}
    img(src = "#{articles[0]['imageLink']}", width ='250', height = '250')
    p #{articles[0]['description']}
div(class = 'col-md-4')
    h3 #{articles[1]['title']}
    img(src = "#{articles[1]['imageLink']}", width ='250', height = '250')
    p #{articles[1]['description']}
div(class = 'col-md-4')
    h3 #{articles[2]['title']}
    img(src = "#{articles[2]['imageLink']}", width ='250', height = '250')
    p #{articles[2]['description']}
